<ion-header>
    <ion-toolbar>
        <ion-title>{{movie.title}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <img src="{{movie.getBackdropImage()}}" *ngIf="isConnected">
    <ion-grid>
        <ion-row>
            <ion-col size="4" *ngIf="isConnected">
                <div class="hero-image">
                <img src="{{movie.getPosterImage()}}">
                </div>
            </ion-col>
            <ion-col class="ion-align-self-start" size="8">
                <ion-item lines="none">
                    <span><strong>{{movie.title}}</strong></span>
                </ion-item>
                <ion-item lines="none">
                    <span>{{movie.releaseDate}}</span>
                </ion-item>
                <ion-item lines="none">
                    <ion-icon name="star-outline" class="icon-vote-average" slot="start"></ion-icon>{{movie.voteAverage}}
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="overview">
                {{movie.overview}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label><strong>Main Actors and Actresses</strong></ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-33 *ngFor="let actor  of actorsList">
                <div class="card card-1">
                    <img src="{{actor.getPosterImage()}}" alt="">
                    <p style="font-size: 9px;">{{actor.name}}</p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
