<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       Mojix Challenge - The Movie Database
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let movie of movieList" (click)="goToDetail(movie)">
    <img src="{{movie.getPosterImage()}}" />
    <ion-card-header>
      <ion-card-title>{{movie.title}}</ion-card-title>
      <ion-card-subtitle>{{movie.releaseDate}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>{{movie.overview}}</ion-card-content>
  </ion-card>

</ion-content>
